* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(219, 148, 148, 0.904);
}

.App {
  padding: 40px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.todo-hover :hover {
  font-weight: bolder;
  font-size: 20px;
  background-color: wheat;
  color: rebeccapurple;
  border-radius: 25px;
}

.input-field {
  border-bottom: 2px solid black;
  padding: 8px;
  margin: 5px;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
}

.edit-btn {
  padding: 8px;
  background-color: lightslategrey;
  color: white;
  border-radius: 8px;
  margin: 5px;
}
